<div class="container-fluid fullscreen-intro portfolio">
	<h3 class="post-title"> Hynson Develops </h3>
	<div class="row">
		<div class="col-md-4">
		</div>

		<div class="col-md-4">
			<p class="portfolio-intro"> Hello! My name is Adam Hynson and I am a freelance web developer based in Baltimore, Maryland. I specialize in Ruby on Rails development. I consider myself a full stack developer with strong backend skills. </p>
			<p class="portfolio-description">I have skills in </p>
			<p class="portfolio-skills" id="skill0"> HTML </p> 
			<p class="portfolio-skills" id="skill1"> CSS </p> 
			<p class="portfolio-skills" id="skill2"> Bootstrap </p> 
			<p class="portfolio-skills" id="skill3"> Javascript </p> 
			<p class="portfolio-skills" id="skill4"> jQuery </p> 
			<p class="portfolio-skills" id="skill5"> PostgreSQL </p>
			<p class="portfolio-skills" id="skill6"> BASH </p> 
		</div>
		<div class="col-md-4">
		</div>
	</div>
	<div class="row">
		<div class="col-md-5">
		</div>
		<div class="col-md-2">
			<%= image_tag @user.img.url(:medium), class: "portfolio-portrait" %>
		</div>
		<div class="col-md-5">
		</div>
	</div>
</div>
<div class="container-fluid fullscreen-projects">
	<h3 class="post-title"> Projects and Work </h3>
	<div class="col-md-6">
		<%= render partial: "thumb", :locals => {project: @chess} %>
	</div>
	<div class="col-md-6">
		<%= render partial: "thumb", :locals => {project: @real_estate} %>
	</div>
	<div class="col-md-6">
		<%= render partial: "thumb", :locals => {project: @tutoring} %>
	</div>
</div>


<script>
	$(document).ready(window.setInterval(nextText, 2000))
</script>