<h3> <%= @tag.name %> </h3>
<% @tag.posts.each do |post| %>
	<div class="container-fluid">
		<div class="row">
			<%= render partial: "posts/thumb", :locals => {post: post} %>

		</div>
	</div>
<% end %>
