<div class="panel panel-default upload-panel">
	<div class="panel-heading">
		File Upload
	</div>
	<div class="panel-body">
			<%= form_tag("/images", id: "image-form", :multipart => true) do %>
			<%= text_field_tag("alt_text", nil, placeholder: 'Image Alt Text') %>
			<%= file_field_tag "img", type: :file %>
			<%= text_area_tag("image_content", @plain_text, class: "hidden-tag", onkeyup: "updateMarkdown();") %>
			<% end %>
			<button id="create-image" class="btn btn-primary" onclick="createImage();">Add Image</button>	
	</div>
</div>

