<div class="panel panel-default upload-panel">
	<div class="panel-heading">
		File Upload
	</div>
	<div class="panel-body">
     <div class="field">
       <%= label_tag :image %><br>
       <%= file_field_tag :image, name: "post_image" %>
     </div>
			<button id="create-image" class="btn btn-primary" onclick="createImage();">Add Image</button>	
	</div>
</div>
