<div class="row landing">
	<%= image_tag "ChessCheckMate.png"%>
</div>

<h3> Projects </h3>
<div class="row">
	<div class="col-md-3">
		<h3> Ruby </h3>
		<div class="row">
			<div class="col-md-6">
				<%= image_tag "ChessStart.png"%>
			</div>
			<div class="col-md-6">
				<%= image_tag "ChessCheckMate.png"%>

			</div>
		</div>

		<a href="https://github.com/hynsondevelops/Chess"> Repo </a>
	</div>
	<div class="col-md-3">
		<h3> HTML/CSS </h3>
		
	</div>

</div>