/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$icon-font-path: 'bootstrap/';

@import "bootstrap";
@import "font-awesome";
$markdown-editor-height: 800px;
$text-color : black;
$darker-grey : #969A97;
$tan-grey : #D1D3C4;
$green-grey: #BDD2A6;
$green : #C5E6A6;
$light-grey: #DFE0DC;



html, body
{
	width: 100%;
	 margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
.navbar
{
	margin: 0;
	height: 5vh;
	background-color: $light-grey;
	color: #777;
	min-height: 60px;
}

.navbar *
{
	color: #777;
}

.navbar-brand
{
	height: 5vh;
	white-space: nowrap;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: $text-color !important;
    background-color: $green;
    border-color: $darker-grey; /*set the color you want here*/
}


#footer-nav
{
	height: 20vh;
}

.btn
{
	color: $text-color !important;
    background-color: $green-grey !important;
    border-color: $darker-grey; /*set the color you want here*/
    border: 5px outset $darker-grey;;
}

.btn:hover
{
	color: $text-color;
    background-color: $green !important;
    border-color: $darker-grey; /*set the color you want here*/
    border: 5px inset $darker-grey;
}

.project-links
{
	margin-top: 2vh;
}

#blog-project-arrow
{
	margin-top: 1vh;
}

.blog-projects
{
	font-size: 18px;
	margin-top: 5vh;
	text-align:center;
}

#contact-scroll-button
{
	margin-top: 3vh;
}

#blog-projects-a
{
	color:white;
}

.portfolio-contact
{
	height:45vh;
	position: relative;
	width: 100%;
	background-color: $tan-grey;
	background-size: cover;
}

.portfolio-blog
{
	height:45vh;
	position: relative;
	width: 100%;
	background-color: $light-grey;
	background-size: cover;
}
.contact-description
{
	margin-top: 5%;
	min-height: 200px;
	height: 33vh;
	width: 100%;	
}

.contact-text
{
	width: 100%;
}

.modal-header
{
	text-align: center;
}

#myModal
{
	padding-right: 0 !important;
}

.contact-text
{
	text-align: center;
}

#contact-button
{
	width: 20vh;
	margin: 5vh 40%;
}

.contact-text h1
{
	margin-top: 5vh;
	margin-bottom: 2.5vh;
	font-weight: bold;
}

.modal-container
{
}
.modal-dialog
{
	margin: 0;
	width: 100%;
	height: 100%;
}

.modal-content
{
	background-color: $light-grey;

	margin: 10% 20% 20% 20%;
	width: 60%;
	height: 60%;
}

.portfolio-intro
{
	text-align: center;
	font-size: 24px;
}

.portfolio-description
{
	text-align: center;
	margin-top: 50px;
}
.portfolio
{
	color: white;
}

.portfolio-portrait
{
	margin: 5vh 0;
	border-radius: 100%;
}

.portrait-contact
{
	text-align:center;
}

.project-section
{
	margin: 0 5%;
}

.btn-primary
{
	background-color: $green-grey;
	border-color: $darker-grey;
}

.fullscreen-intro
{
	height: 95vh;
	position: relative;
	width: 100%;
	z-index: 1;
	padding:0;
}

.portfolio-projects
{
	height: 55vh;
	position: relative;
	width: 100%;
	background-color: $darker-grey;
	background-size: cover;
}


tables
{
	border: 1;
}
#first-element-nav
{
	margin: 0px 5%;
}
 
.page-specific-content
{
	margin: 0px auto;
	min-height: 95vh;
}

.post-thumb
{
}

.blog-post
{
	font-size: 16px;
	max-width: 60em;
	text-align: left;
}

#background-image
{
	height: 95vh;
	width: 100%;
	z-index: -1;
	position: absolute;
	filter: brightness(35%);
	padding:0;
}

.toolbar
{
	height: 50px;
}

.editor
{
	border: 1px solid black;
}

.plain-text
{
	border: 1px solid black;
	min-height: $markdown-editor-height;
	height: auto;
}

.markdown-html
{
	border: 1px solid black;
	min-height: $markdown-editor-height;
	height: auto;
}

.post-title
{
	text-align: center;
	font-size: 60px;
}

.hidden-tag
{
	display: none;
}

.upload-panel
{
	max-width: 300px;
}

.panel-body
{
	word-wrap: break-word;
} 

.center
{
	text-align: center;
}

.associated-tag
{
	font-size: 12px;
}

.author-box
{
	border: 1px solid $light-grey;
	padding: 0;
	margin-left: -3vh;
	margin-right: 3vh;
}

.author-pic
{
	padding: 0;
}

.author-info
{
	padding: 0;
}

.portfolio-skills
{
	display: none;
}

.post-body
{
	margin-bottom: 7vh;
}


#skill0
{
	--width: 187px;
	animation: 
    typing 1s steps(60, end),
    blink-caret 0.75s step-end infinite;
}

#skill1
{
	--width: 159px;
	animation: 
    typing 1s steps(60, end),
    blink-caret 0.75s step-end infinite;
}

#skill2
{
	--width: 167px;
	animation: 
    typing 1s steps(60, end),
    blink-caret 0.75s step-end infinite;
}

#skill3
{
	--width: 111px;
	animation: 
    typing 0.8s steps(60, end),
    blink-caret 0.75s step-end infinite;
}

#skill4
{
	--width: 201px;
	animation: 
    typing 1.5s steps(60, end),
    blink-caret 0.75s step-end infinite;
}

#skill5
{
	--width: 103px;
	animation: 
    typing 1s steps(60, end),
    blink-caret 0.75s step-end infinite;
}

#skill5
{
	--width: 103px;
	animation: 
    typing 1s steps(60, end),
    blink-caret 0.75s step-end infinite;
}

#skill6
{
	--width: 229px;
	animation: 
    typing 1.8s steps(60, end),
    blink-caret 0.75s step-end infinite;
}

#contact-modal
{
	height: 47vh;
	background-color: $green-grey;
}

#contact-create-buttons
{
	text-align: center;
}

#contact-create-buttons button
{
	display:inline-block;
}

#contact-name-email
{
	margin: 2vh 0;
}

.project-top-container
{
}

.project-title-row
{
}

.modal-title
{
}

.post-top-container
{
	margin-top: 1vh;
	height: 20vh;
	font-size:16px;
}



.post-footer
{
	margin: 0px 2.5%;
}


.post-index
{
	margin: 0px 5%;
}


.grey-background a
{
	color: white;
}


.typewriter h1{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.10em solid $green; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 0; /* Gives that scrolling effect as the typing happens */
   /* Adjust as needed */
}



/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to {width: var(--width);}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: $green }
  50% { border-color: transparent; }
}

.hll { background-color: #ffffcc }
.c { color: #408080; font-style: italic } /* Comment */
.err { border: 1px solid #FF0000 } /* Error */
.k { color: #008000; font-weight: bold } /* Keyword */
.o { color: #666666 } /* Operator */
.cm { color: #408080; font-style: italic } /* Comment.Multiline */
.cp { color: #BC7A00 } /* Comment.Preproc */
.c1 { color: #408080; font-style: italic } /* Comment.Single */
.cs { color: #408080; font-style: italic } /* Comment.Special */
.gd { color: #A00000 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #FF0000 } /* Generic.Error */
.gh { color: #000080; font-weight: bold } /* Generic.Heading */
.gi { color: #00A000 } /* Generic.Inserted */
.go { color: #808080 } /* Generic.Output */
.gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.gt { color: #0040D0 } /* Generic.Traceback */
.kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.kp { color: #008000 } /* Keyword.Pseudo */
.kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.kt { color: #B00040 } /* Keyword.Type */
.m { color: #666666 } /* Literal.Number */
.s { color: #BA2121 } /* Literal.String */
.na { color: #7D9029 } /* Name.Attribute */
.nb { color: #008000 } /* Name.Builtin */
.nc { color: #0000FF; font-weight: bold } /* Name.Class */
.no { color: #880000 } /* Name.Constant */
.nd { color: #AA22FF } /* Name.Decorator */
.ni { color: #999999; font-weight: bold } /* Name.Entity */
.ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.nf { color: #0000FF } /* Name.Function */
.nl { color: #A0A000 } /* Name.Label */
.nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.nt { color: #008000; font-weight: bold } /* Name.Tag */
.nv { color: #19177C } /* Name.Variable */
.ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #666666 } /* Literal.Number.Float */
.mh { color: #666666 } /* Literal.Number.Hex */
.mi { color: #666666 } /* Literal.Number.Integer */
.mo { color: #666666 } /* Literal.Number.Oct */
.sb { color: #BA2121 } /* Literal.String.Backtick */
.sc { color: #BA2121 } /* Literal.String.Char */
.sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.s2 { color: #BA2121 } /* Literal.String.Double */
.se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.sh { color: #BA2121 } /* Literal.String.Heredoc */
.si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.sx { color: #008000 } /* Literal.String.Other */
.sr { color: #BB6688 } /* Literal.String.Regex */
.s1 { color: #BA2121 } /* Literal.String.Single */
.ss { color: #19177C } /* Literal.String.Symbol */
.bp { color: #008000 } /* Name.Builtin.Pseudo */
.vc { color: #19177C } /* Name.Variable.Class */
.vg { color: #19177C } /* Name.Variable.Global */
.vi { color: #19177C } /* Name.Variable.Instance */
.il { color: #666666 } /* Literal.Number.Integer.Long */




.project_img {
	display: block;
	height: auto;
	max-width: 100%;
}


.project_side_img {
	margin-top: 2%;
}